/* Estilos para el contenedor principal */
.all {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Estilos para el título "Login" */
.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Estilos para el formulario */
.form {
  display: flex;
  flex-direction: column;
}

/* Estilos para los campos de entrada (input) */
input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilos para los botones */
button, .btn-register {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

/* Estilos para el botón "Iniciar sesión" */
.btn-start {
  background-color: #007bff;
  color: #fff;
}

/* Estilos para el botón "Registrarse" */
.btn-register {
  background-color: #007bff;
  color: #ffffff;
}

/* Estilos para el botón "Registrarse" al pasar el cursor (hover) */
.btn-register:hover {
  background-color: #22c402;
}
